{% load static %}
<html>
 <head>
  <title>
   Classical Dance and Creative Images
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
 </head>
 <body class="bg-white text-black font-serif">
  <div class="container mx-auto p-4 text-center">
   <h1 class="text-4xl font-bold mb-4">
    Classical Dance and Creative Images
   </h1>
   <section class="mb-8">
    <h2 class="text-2xl font-bold mb-2">
     Introduction
    </h2>
    <p class="mb-2">
     Brief overview of classical dance and creative images...
    </p>
    <img alt="Classical Dance Image" class="mb-4 mx-auto" height="300" src="{% static 'images/cha1.jpg' %}" width="300"/>
   </section>
   <section class="mb-8">
    <h2 class="text-2xl font-bold mb-2">
     Types of Classical Dance
    </h2>
    <ul class="list-disc list-inside mb-2 inline-block text-left">
     <li>
      Bharatanatyam
      <img alt="Bharatanatyam Image" class="inline" height="300" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-MECMIkVRMShTyIrtWZPiiR4w.png?st=2024-09-24T10%3A58%3A39Z&amp;se=2024-09-24T12%3A58%3A39Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A47%3A57Z&amp;ske=2024-09-24T23%3A47%3A57Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=L7cf0DLYSL9UcPcakOWU3Aa6Gl4WTGlAQrDZ9g9FyP4%3D" width="300"/>
     </li>
     <li>
      Kathak
      <img alt="Kathak Image" class="inline" height="300" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-ijG0x7ZUwjMLM4U6aKBxXn3C.png?st=2024-09-24T10%3A58%3A46Z&amp;se=2024-09-24T12%3A58%3A46Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A06%3A28Z&amp;ske=2024-09-24T23%3A06%3A28Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=A8WZse9NvY2sGhk/iz6R5zf1cTGHtWAYQt4jL4XnV3g%3D" width="300"/>
     </li>
     <li>
      Odissi
      <img alt="Odissi Image" class="inline" height="300" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-runkv7ayCayWWwVKm9OaET1P.png?st=2024-09-24T10%3A58%3A45Z&amp;se=2024-09-24T12%3A58%3A45Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A32%3A56Z&amp;ske=2024-09-24T23%3A32%3A56Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=Fsd7UqAmUX6fLV6A3p5/M/Ql3TGTF94ek8I9rShrgH8%3D" width="300"/>
     </li>
    </ul>
   </section>
   <section class="mb-8">
    <h2 class="text-2xl font-bold mb-2">
     Techniques and Movements
    </h2>
    <p class="mb-2">
     Explanation of fundamental techniques and movements...
    </p>
    <img alt="Technique Image" class="mb-4 mx-auto" height="300" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-tgovsqnod9iPfX4tJaFZjwhC.png?st=2024-09-24T10%3A58%3A36Z&amp;se=2024-09-24T12%3A58%3A36Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A11%3A53Z&amp;ske=2024-09-24T23%3A11%3A53Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=g%2BJgUeVKO1sR03S9LDyEHeJElkpAgeH0jelZd98jaug%3D" width="300"/>
   </section>
   <section class="mb-8">
    <h2 class="text-2xl font-bold mb-2">
     Famous Classical Dancers
    </h2>
    <ul class="list-disc list-inside mb-2 inline-block text-left">
     <li>
      Rukmini Devi Arundale
      <img alt="Rukmini Devi Image" class="inline" height="300" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-xMU34Hkpg5rR4rtxlS7usJr4.png?st=2024-09-24T10%3A58%3A37Z&amp;se=2024-09-24T12%3A58%3A37Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A13%3A39Z&amp;ske=2024-09-24T23%3A13%3A39Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=BJ4B9FMTiOMi/%2BoGBVwHEFeE%2Bt0SwslbiOCtSPWgu/I%3D" width="300"/>
     </li>
     <li>
      Pandit Birju Maharaj
      <img alt="Pandit Birju Maharaj Image" class="inline" height="300" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-QWEDxWo324ic48QZeZ15HKTQ.png?st=2024-09-24T10%3A58%3A37Z&amp;se=2024-09-24T12%3A58%3A37Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A16%3A01Z&amp;ske=2024-09-24T23%3A16%3A01Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=8pBRw4x14cz9ojQhmleAzNgfUWzbhxHko0/h70yKu2Y%3D" width="300"/>
     </li>
    </ul>
   </section>
   <section class="mb-8">
    <h2 class="text-2xl font-bold mb-2">
     Benefits of Classical Dance
    </h2>
    <p class="mb-2">
     Physical, mental, and emotional benefits...
    </p>
    <img alt="Benefits Image" class="mb-4 mx-auto" height="300" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-sLSvPvcSO84psNoLGiw6esRV.png?st=2024-09-24T10%3A58%3A43Z&amp;se=2024-09-24T12%3A58%3A43Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-23T23%3A23%3A06Z&amp;ske=2024-09-24T23%3A23%3A06Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=Ckh7c0bh6YeKFv10TLgNYPI4tzfaKeGXX3Z/L/U784o%3D" width="300"/>
   </section>
   <section class="mb-8">
    <h2 class="text-2xl font-bold mb-2">
     Creative Images in Classical Dance
    </h2>
   </section>
  </div>
 </body>
</html>