<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHRUVAM</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

    <video playsinline autoplay muted loop>
        <source src="{% static 'images/dance.webm' %}" type="video/webm">
        Your browser does not support the video tag.
    </video>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Class</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="appbtn">Explore</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>
