{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
</head>
<body class="bg-img">
  
    <div class="login-container ">
        <div class="card p-4 shadow-sm">
            <div class="login-card-body">
                <h1 class="text-center mb-4"><b>Login</b></h1>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <button type="submit">Log in</button>
                </form>
                
                
            </div>
        </div>
    </div>
    
    </body>
    </html>