{% load static %}
<link rel="stylesheet" href="{% static 'css/page.css' %}" type="text/css">
    <div class="containers align-content-center position-relative w3l-bg-grey">
        <div class=" reg-card row align-items-center align-content-center ">
            <div class=" div-card col-md-6 col-sm-12 col-xs-12 ">
                <div class="card-new card-equal">
                    <a href="/register" class="card-new">
                        <img src="{% static 'images/dance2.jpg' %}" alt="User Registration">
                        <div class="card-title-new">USER REGISTRATION</div>
                    </a>
                </div>
            </div>
            <div class=" div-card col-md-6 col-sm-12 col-xs-12 ">
                <div class="card-new card-equal">
                    <a href="/gurureg" class="card-new">
                        <img src="{% static 'Images/dance1.jpg' %}" alt="Guru Registration">
                        <div class="card-title-new">GURU REGISTRATION</div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
